.home {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

/* header styling starts */
.home_header {
  background-color: #202124;
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 0.6rem;
  color: #ffffff;
}
.home_header_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home_header a,
.header_icon {
  margin-right: 1rem;
  text-decoration: inherit;
  color: #ffffff;
}
.home_header a:hover {
  text-decoration: underline;
}
.header_btn > Button {
  margin-left: 0.5rem;
  text-transform: inherit;
}
/* header styling ends above */

/* body styling starts */
.home_body {
  flex: 1;
  /* flex 1 takes entire width  */
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}
.home_body > img {
  object-fit: contain;
  height: 100px;
}
