.nav {
  height: 71px;
  box-shadow: 0px 1px 8px #888888;
  display: flex;
  align-items: center;
}

.icon {
  /* background-color: green; */
  flex: 0.48;
  /* this flex makes sure icon takes almost haf width and push logo at center  */
}
